.roundedBtn {
  border-radius: 10px;
  width: 130px;
  height: 40px;
  border-style: solid;
  border-color: white;
}

#navbar a {
  color: white;
  text-decoration: none;
  border-style: solid;
  border-radius: 30px;
  font-size: 1.3em;
  margin: 10px;
  border-width: 1px;
  text-align: center;
  font-size: 15px;
}

